main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero {
  position: relative;
}

section {
  width: min(60%, 100%);
  margin-inline: auto;
  display: grid;
  justify-items: center;
}

.headline {
  display: flex;
  width: 100%;
  padding-block: 40px;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: clamp(2.5rem, 10vw, 7rem);
  text-wrap: balance;
  width: min-content;
  line-height: 0.75;
}

.headline h1 {
  margin: 0;
}

.hero .image-container {
  width: 50%;
  object-fit: contain;
  margin-top: -5.5rem;

  img {
    width: 100%;
  }
}

section.offers {
  width: min(80%, 100%);
}