main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

section {
  max-width: 60%;
  display: grid;
  justify-content: center;
}

.headline {
  display: flex;
  width: 100%;
  padding-block: 40px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: calc(-2rem + 20vw);
  text-wrap-style: pretty;
  width: min-content;
  line-height: 0.75
}

.image-container {

}