.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cards-container {
  display: flex;
  gap: 1.5rem;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  margin-bottom: 6rem;
}

span:first-of-type {
  position: absolute;
  top: 50%;
  left: -2rem;
}

span:last-of-type {
  position: absolute;
  top: 50%;
  right: -2rem;
}

span {
  cursor: pointer;
  font-size: 2rem;
}